*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Inter, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial;;
}

:root {
  --bg: #f4f7fb;
  --card: #ffffff;
  --accent: #0bb78d;    
  --muted: #6b7280;      
  --success: #16a34a;
  --danger: #ef4444;
  --radius: 10px;
  --gap: 0.75rem;
}

body{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: linear-gradient(135deg,#0bb78d,#34d399);
}

.container{
  background: var(--card);
  padding:2rem;
  border-radius:var(--radius);
  box-shadow:0 4px 12px rgba(0,0,0,0.1);
  width:90%;
  max-width: 500px;
}

header{
   text-align: center;
   margin-bottom:1.5rem;
}

header h1{
  color:var(--accent);
  font-size:1.8rem;
  letter-spacing: 1px;
}
#task-input{
  display:flex;
  flex-direction: column;
  gap:var(--gap);
  margin-bottom:1.5rem;
}

#task-input input,
#task-input button{
  padding:0.75rem;
  font-size:1rem;
  border-radius:var(--radius);
  border:1px solid #ddd;
}

#task-input input:focus{
  outline:none;
  border-color:var(--accent);
  box-shadow:0 0 5px rgba(11,183,141,0.3);
}

#addTask{
  background-color: var(--accent);
  color:white;
  border:none;
  cursor:pointer;
  transition:background 0.3s ease;
}

#addTask:hover{
  background: #099c78;
}

/*selection of the task list*/

#task-list h2{
  color:var(--muted);
  margin-bottom:0.8rem;
  text-align: center;
}

#tasks{
  list-style: none;
  display:flex;
  flex-direction: column;
  gap:0.8rem;
}

#tasks li{
  background:var(--bg);
  padding:0.8rem 1rem;
  border-radius:var(--radius) ;
  display:flex;
  justify-content: center;
  align-items: center;
  border-left: 5ps solid var(--accent);
}


/*to show the task that have been completed*/
.completed{
  text-decoration: line-through;
  opacity:0.7;
}

/*css code for the reminder popup*/

#reminderPopup{
  position:fixed;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  background:var(--card);
  padding:1.5rem;
  border-radius: var(--radius);
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  display:none;
  text-align: center;
}

#reminderPopup button{
  background: var(--accent);
  color:white;
  border:none;
  padding:0.6rem 1.2rem;
  border-radius: var(--radius);
  cursor:pointer;
}

#reminderPopup button:hover{
  background: #099c78;
}

.hidden{
  display:none;
}

@media(max-width:600px){
  header h1{
    font-size:1.5rem;
  }
  #task-input{
    gap:0.75rem;
  }
  #task-input input,
  #task-input button{
    font-size:0.95rem;
    padding:0.65rem;
  }

  #tasks li{
    flex-direction: column;
    align-items: flex-start;
  }
}
